/* main.css of Mock Portfolio Page by Steve Golden */

:root {
 --welcome-bkgndcolor: #e0ebe8;
}

#navbar {
  background-color: var(--welcome-bkgndcolor);
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  text-decoration: none;
}

#welcome-section {
  height: 100vh;
  background-color: var(--welcome-bkgndcolor);
  display: flex;
  justify-content:center;
  align-items: center;

}