/* main.css of Mock Portfolio Page by Steve Golden */

:root {
  --welcome-bkgndcolor: #e0ebe8;
  --contact-bkgndcolor: #b1e0b7;
  --footer-bkgndcolor: #22313F;
  --hoverColor: #2c2f2e;
  --textColor: #245b2b;
  --hoverBkColor: #c9d3d0;
}

/* index.html default css*/
body {
  margin: 0;
  font-family: Futura, sans-serif;
}

#navbar {
  background-color: var(--welcome-bkgndcolor);
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar ul {
  list-style: none;
  padding-left: 0;
}

#navbar ul li {
  display: inline-block;
  margin-left: 14%;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var( --textColor);
}

#navbar ul li a:hover {
  color: var(--hovercolor);
}

#welcome-section {
  height: 100vh;
  background-color: var(--welcome-bkgndcolor);
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-section header {
  width: 86%;
  font-size: 20px;
  font-weight: bold;
}

h1 {
  margin: 0;
}

.index__mnheadertext-font {
  font-size: 18px;
  font-weight: initial;
  color: var( --textColor);
  background-color: var(--welcome-bkgndcolor);
}

#projects{
  margin-bottom: 100px;
}

.project-tile{
  margin: 0 auto;
  width: 310px;
  border: 1px solid var(--textColor);
  margin-bottom: 40px;
}

#projects header {
  text-align: center;
  color: var( --textColor);
}

.projectImgs {
  width: 310px;
  height: 225px;
}

.index__projectTitle {
  text-align: center;
  font-weight: bold;
}

.index__showProjects {
  width: 140px;
  height: 20px;
  font-size: 17px;
  font-weight: bold;
  color: var(--textColor);
  border: 2px solid var(--textColor);
  background-color: var(--welcome-bkgndcolor);
  margin: 0 auto;
  text-align: center;
  padding: 7px 0;
  border-radius: 20px;
}

.index__showProjects:hover {
  background-color: var(--hoverBkColor);
}

#contact{
  background-color: var(--contact-bkgndcolor);
  padding-bottom: 100px;
}

.index__contactText{
  padding: 100px 0 100px 0;
  text-align: center;
  font-size: 35px;
}

.index__contactLText {
  font-size: 16px;
}

.index__contactOptWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.index__contactOpt {
  border: 2px solid var(--textColor);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 25px 0 25px;
  display: inline-block;
  text-align: center;
}


.index__contactOpt:nth-of-type(1) {
  padding: 40px 35px 10px 15px;
}

.index__contactOpt:nth-of-type(2) {
  padding: 40px 25px 10px 25px;
}

.index__contactOpt:nth-of-type(3) {
  padding: 40px 25px 10px 25px
}

.index__contactOpt:nth-of-type(4) {
  padding: 25px 26px 25px 24px;
}

.index__contactOpt:nth-of-type(5) {
  padding: 35px 26px 15px 24px;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  min-height: 150px;
  background-color: var(--footer-bkgndcolor);
  color: white;
}

/* Medium Breakpoint 678px */
@media(min-width: 678px) {
  #navbar ul {
    padding-left: 55%;
  }

    #navbar ul li {
      margin-left: 11%;
      font-size: 24px;
    }

  #welcome-section header {
    text-align: center;
    font-size: 25px;
  }
}